.full-width-stretched {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.full-width-stretched .col-12 {
    overflow: visible;
}

.full-width-stretched .slide-category.slide-container {
    padding:30px 0 0;
}

.full-width-stretched *.alignfull {
    position: relative;
    left: -4%;
    width: 108%;
    max-width: 108%;
    clear: both;
}

.full-width-stretched .wp-block-image.alignfull img {
    width: 100vw;
}

.full-width-stretched .wp-block-columns.alignfull  {
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
.full-width-stretched .wp-block-image.alignfull img {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (min-width: 960px) {
.full-width-stretched .slide-category.slide-container {
    padding:0 0 40px;
}

.full-width-stretched .slide-category.slide-container:first-of-type {
    padding: 40px 0;
}
}
@media only screen and (min-width: 1200px) {
.full-width-stretched *.alignfull {
    left: calc( ((1200px - 100vw) / 2) - 4% );
    width: 100vw;
    max-width: 100vw;
}
}
