h1, h2, h3, h4, h5, h6 {
    color: #858585;
}

body {
    background: #ffffff;
    color: #141414;
}

.button:hover, .button.wpvs-add-to-list.enhance:hover, .button.wpvs-show-trailer.enhance:hover {
   background: #353535;
}

label#menuOpen span, label#menuOpen span:before, label#menuOpen span:after {
    background: #353535;
}

header#header, .header-background, .wpvs-additional-videos-below {
    background: #fafafa;
}

header#header nav#desktop ul li a, header#header nav#desktop ul li .menuArrow {
    color: #353535;
}

header#header nav#desktop ul.sub-menu li a:hover {
    color: #ffffff;
}

header#header nav#desktop ul.sub-menu, .wpvs-term-checkout, #video-list-container, .wpvs-flexslider {
    background: #ffffff;
}

header#header nav#desktop ul.sub-menu li, header#header nav#desktop ul li.wpvs-theme-full-menu ul.sub-menu li.menu-item-has-children a {
    border-bottom: 1px solid #f1f1f1;
}

header#header nav#desktop ul.sub-menu li a {
    color: #353535;
}

header#header nav#desktop ul.sub-menu li ul.sub-menu li a {
    border-bottom: 1px solid #f1f1f1;
}

header#header nav#desktop ul.sub-menu li ul.sub-menu li, header#header nav#desktop ul.sub-menu li ul.sub-menu li:last-child a {
    border-bottom: none;
}

nav#mobile, #wpvs-video-reviews-container {
    background: #ffffff;
}

#wpvs-video-reviews-container {
    border-left: 1px solid #f1f1f1;
}

nav#mobile a:hover {
    color: #fafafa;
}

nav#mobile ul li, .wpvs-top-video-controls, #vs-search-input {
    border-bottom: 1px solid #eeeeee;
}

nav#mobile a {
    color: #353535;
}

#single-video-container {
    background: #f1f1f1;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.video-category a h3:hover {
    color: #141414;
}

#vs-video-back .dashicons {
    color: #141414;
}

.video-slide-image {
    background: #eeeeee;
}

/* ==== USER MENU ==== */

header#header nav#desktop #user-sub-menu {
    background: rgba(255,255,255,0.8);
}

nav#mobile ul li ul.sub-menu, nav#mobile #user-sub-menu {
    background: #fafafa;
}

/* ==== SEARCH ==== */

#vs-search {
    background: rgba(255,255,255,0.9);
}

.vs-results-tax label, .wpvs-profile-side {
    border-bottom: 1px solid #eee;
}

.vs-tax-result {
    color: #141414;
}

#vs-search-tax label:hover {
    background: #f1f1f1;
}

#searchform input[type="submit"] {
    background: #e50914;
}

/* ==== VIDEO HEADER ==== */

.vs-video-header {
    background: #f1f1f1;
}

.vs-video-header:before {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.85) 0%, rgba(255,255,255,0.25) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.25) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.25) 100%);
}

.drop-display:before {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 50%, rgba(0255,0255,255,0.25) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.25) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.25) 100%);
}

.vs-drop-play-button {
    color: #141414;
    border-color: #141414;
}
.drop-loading, .net-loader:after {
    background: #ffffff;
}

.vs-video-details p, .sliderDescription p {
    color: #141414;
}

.wpvs-full-screen-display #wpvs-autoplay-countdown {
    background: rgba(255,255,255,0.8);
    color: #141414;
}

/*==== VIDEO LISTINGS ====*/

.category-top {
    border-bottom: 1px solid #eeeeee;
    background: #ffffff;
}

.category-top.hug-header {
    background: #fafafa;
}

#open-sub-video-cats {
    color:#aaaaaa;
}

a.sub-video-cat {
    color:#141414;
}

#select-sub-category a.sub-video-cat:hover, #select-sub-category a.sub-video-cat.active {
    background: #fafafa;
}

.button.wpvs-add-to-list,
.button.wpvs-show-trailer {
    color: #141414;
}

.button.wpvs-add-to-list:hover,
.button.wpvs-show-trailer:hover {
    color: #ffffff;
}

.button.wpvs-add-to-list.enhance,
.button.wpvs-show-trailer.enhance {
    background: rgba(255,255,255,0.4);
}

.wpvs-top-video-controls .button.wpvs-add-to-list {
    border: none;
}

/* ==== Blog Content ==== */

.post-meta-data {
    color: #858585;
}

#sidebar {
    background: #ffffff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}


/* ==== Footer ==== */

footer {
    background: #fff;
    border-top: 1px solid #eeeeee;
}

footer a, #sidebar ul li a, .socialmedia a {
    color: #858585;
}

footer a:hover, #sidebar ul li a:hover {
    color: #E50914;
}

#lower-footer {
    background: #f1f1f1;
}

#page404 h1 {
    color: #353535;
}

#page404 p {
    color: #353535;
}

.navigation a, .navigation span {
    background: #eee;
    color: #353535;
}
/* === TAGS ==== */

a[rel="tag"] {
    background: #eee;
}

/* ==== WordPress ==== */

.wp-caption {
    background: #eee;
}

/* ==== Tables ==== */

table {
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
}

/* ==== COMMENTS ==== */

.comment {
    padding: 10px;
    background: #fff;
    border-top: 1px solid #eee;
}

.comment.parent .comment {
    float: none;
}


input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], input[type="number"], textarea, form.comment-form input[type="text"], form.comment-form input[type="email"], form.comment-form input[type="password"], form.comment-form textarea, select {
    background: #fff;
    border: 1px solid #eee;
}

/* ==== LOGIN FORMS ==== */

#vs-full-screen-login, .vs-full-screen-video {
    background: #fafafa;
}

.wpvs-login-section, #rvs-main-video .wpvs-login-form {
    background: #fafafa;
}

label.wpvs-login-label {
    background: #eee;
}

/* ==== MEMBERSHIP STYLES ==== */

.rvs-membership-item {
    background: #ffffff;
    border: 1px solid #eeeeee;
}

.rvs-access-tab {
    border-bottom:1px solid #eeeeee;
}

#wpvs-coingate-address-payment {
    background: #ffffff !important;
}

.wpvs-menu-item {
    border-bottom: 1px solid #eeeeee;
}

table.rvs_memberships tr:nth-of-type(2n) {
    background: #fafafa;
}

.wpvs-payment-type {
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

.wpvs-payment-type:hover, .wpvs-payment-type.active {
    background: #ffffff;
}

a.wpvs-purchase-term-link {
    background: #fafafa;
    color: #858585
}

label#wpvs-converted-coin-amount {
    border-bottom: 1px solid #fafafa;
}

label.wpvs-choose-coin.active, label.wpvs-choose-coin:hover, label#wpvs-other-coin-options:hover  {
    background: #f1f1f1;
}

.wpvs-checkout-section {
    background: #fafafa;
}

.wpvs-video-rating svg,
.wpvs-video-rating svg path {
    fill: #141414;
}

@media screen and (min-width: 960px) {
#sidebar {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #eee;
}

.drop-display:before {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 30%, rgba(0255,0255,255,0.25) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.25) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.25) 100%);
}

.wpvs-profile-side {
    border-bottom: none;
}

}
