.slide-category.slide-shortcode, .slide-category.slide-shortcode:first-of-type {
    padding: 0;
    overflow: hidden;
}

.slide-category.slide-shortcode .slick-prev,
.full-width-stretched .slide-category.slide-shortcode .slick-prev {
    left: 0;
}

.slide-category.slide-shortcode .slick-next,
.full-width-stretched .slide-category.slide-shortcode .slick-next {
    right: 0;
}

@media screen and (min-width: 960px) {
.vs-video-description-drop.wpvs-shortcode-drop {
    margin-top: 0;
}
}
