/*!
WPVS Theme Theme Editor Styles
*/

/** === Editor Frame === */
body .wp-block[data-align="full"] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

body .wp-block[data-align="full"] .wp-block-columns {
    padding-left: 14px;
    padding-right: 14px;
}


/** === Editor Block Toolbar Position === */
.editor-block-list__block[data-align="wide"] .editor-block-contextual-toolbar .editor-block-toolbar.editor-block-toolbar,
.editor-block-list__block[data-align="full"] .editor-block-contextual-toolbar .editor-block-toolbar.editor-block-toolbar {
  max-width: none;
}

/** === Content Width === */
.wp-block {
  width: 100%;
  max-width: 100%;
}

.wp-block .wp-block {
  width: 100%;
}

@media only screen and (min-width: 600px) {
body .wp-block[data-align="full"] .wp-block-columns {
    padding-left: 0;
    padding-right: 0;
}
}

@media only screen and (min-width: 1200px) {
body .editor-writing-flow {
    max-width: 1200px;
    margin: 0 auto;
}

}

