.wpvs-cat-option {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 0 10px;
    background:#fff;
    display: table;
    width: 100%;
}

.wpvs-cat-details, .wpvs-cat-input {
    display: table-cell;
    vertical-align: middle;
}

.wpvs-cat-details {
    width: 80%;
}

.wpvs-cat-input {
    width: 20px;
    text-align: right;
}

.wpvs-cat-image-preview {
    position: relative;
}

.wpvs-cat-image-preview img {
    display: block;
    margin: 0;
    clear: both;
    cursor: pointer;
    opacity: 1;
}

.wpvs-cat-image-preview .wpvs-cat-thumb-icon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    padding: 45px 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    display: block;
    background: rgba(0,0,0,0.2);
    opacity: 0;
}


.wpvs-cat-image-preview:hover > .wpvs-cat-thumb-icon {
    opacity: 1;
}

#wpvs-cat-images {
    margin: 25px 0 0;
    overflow: hidden;
}

.wpvs-cat-image-details {
    clear: both;
    margin: 10px 0;
    max-width: 90%;
}

.wpvs-cat-image-preview {
    margin: 10px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

.wpvs-cat-image-details img {
    max-width: 100%;
    display: block;
}

.wpvs-cat-image-preview img {
    max-height: 150px;
}

.wpvs-cat-image-preview .wpvs-cat-thumb-icon .dashicons {
    color:#ffffff;
    text-shadow: 0 1px 2px #000;
    font-size: 30px;
    width: auto;
    height: auto;
}

ul.wpvs-edit-list {
    margin: 10px 0 0 20px;
}

ul.wpvs-edit-list li {
    list-style: disc;
}

.wpvs_checkbox_option {
    margin: 10px;
}

.wpvs-thumbnail-image-container {
    margin: 0 0 10px;
    max-width: 400px;
}

.wpvs-thumbnail-image-container img {
    max-width: 100%;
    display: block;
}
