.rvs-trailer-type-area {
    display: none;
}

#rvs-enabled-trailer {
    float: right;
    margin: 5px 0 0;
}

input#trailer-youtube-video-url {
    width: 100%;
    font-size: 16px;
    padding: 5px 3px;
}

.wpvs-thumbnail-image-container {
    margin: 0 0 10px;
    max-width: 400px;
}

.wpvs-thumbnail-image-container img {
    max-width: 100%;
    display: block;
}

.rvs-form-box input[type="submit"] {
    margin: 20px 0 0;
}

#rvs-upload-error {
    display: none;
    color: #c0392b;
    margin: 10px auto;
}

.rvs-type-area {
    display: none;
}

.rvs-display-area {
    display: block !important;
}

.rvs-hidden-code {
    display: none !important;
}

.rvs-responsive-video {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
    margin: 1em auto;
}

.rvs-responsive-video iframe, .rvs-responsive-video video, .rvs-responsive-video embed, rvs-responsive-video object, .rvs-responsive-video .wp-video-shortcode {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.rvs-responsive-video .wp-video-shortcode, .rvs-responsive-video .wp-video {
	width: 100% !important;
	height: 100% !important;
}

.rvs-info-section {
    margin: 10px auto;
    overflow: hidden;
}
